body {
    background: pink;
}

h1 {
    text-align: center;
}

#search { 
    border: bold;
}

#search-icon:hover {
    cursor:pointer;
}


#songName, #recipeName {
    font-size: 40px;
    font-weight: bold;
}

#artistName {
    font-size: 30px;
    font-weight: bold;
}

#songName, #artistName, #imageContainer, #musicUrl, #recipeName, #image, #ingredients, #recipeUrl {
    margin-bottom: 30px;
}
