#homeLink {
    margin-left: 25px;
}

body {
    background-image: url("images/raspberry.jpg");
}

h1 {
    text-align: center;
    color: rgb(70, 1, 70);
}

#projectDef {
    text-align: center;
}

#search { 
    border: bold;
    background-color: white;
}

#search-icon:hover {
    cursor:pointer;
}


#recipeImage, #musicImage {
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 600px;
    background-color: rgb(243, 236, 243);
}