#homeLink {
    margin-left: 25px;
}

body {
    background-image: url("../images/raspberry.jpg");
}

.modal-content { 
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(70, 1, 70);
}

#projectDef {
    text-align: center;
}

#search { 
    border: bold;
    background-color: white;
}

#search-icon:hover {
    cursor:pointer;
}


#recipeImage, #musicImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card {
    width: 75%;
    background-color: rgb(243, 236, 243);
    margin-left: auto;
    margin-right: auto;
}

#artistContainer {
    display: flex;
    flex-wrap: wrap;
}
