#homeLink {
    margin-left: 25px;
}

body {
    background-image: url("../images/raspberry.jpg");
    padding-bottom: 30px;
}


.modal-content { 
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(70, 1, 70);
}

#projectDef {
    text-align: center;
}

#search { 
    border: bold;
    background-color: white;
}

#search-icon:hover {
    cursor:pointer;
}


#recipeImage, #musicImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card {
    width: 75%;
    background-color: rgb(243, 236, 243);
    margin-left: auto;
    margin-right: auto;
}

hr.solid {
    border-top: 3px solid rgb(15, 15, 15);
  }
  
#artistContainer {
    display: flex;
    flex-wrap: wrap;
}

#historyButton {
    text-align: center;
    /* position: fixed;
    bottom: 0; */
}

@media only screen and (min-width: 601px) {
    .container {
      width: 100%; } }
  
  @media only screen and (min-width: 993px) {
    .container {
      width: 100%; } }
  
  
  @media only screen and (max-width: 992px) {
    .input-field .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem); } }
  @media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem); } }